.headbar {
    background-color: rgb(154, 218, 218);
    margin-bottom: -100px;

}

.fimage{
    background-color: rgb(154, 218, 218);
}


.am {
    font-family: "Sacramento", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin-bottom: -100px;
  }
  

.web{
    font-size: 30px;
    margin-top: -20px;
}

.phi{
    font-size: 40px;
    color: rgb(4, 177, 177);
    /* font-family: "Sacramento"; */
}

.pi{
    font-size: 20px;
    margin-bottom: 200px;
}

.pwhat{
    font-size: 50px;
    margin-bottom: 80px;
    color: rgb(4, 177, 177);
}

.help{
    margin-top: 100px;
    font-size: 50px;
    color: rgb(4, 177, 177);
}

.work{
    font-size: 20px;
    color: rgb(16, 185, 185);
}

.if{
    font-size: 20px;
}

.pm{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 200px;
    background-color: rgb(4, 177, 177);
    width: 150px;
    height: 40px;
}

.foot{
    background-color: rgb(154, 218, 218);
    height: 100px;
    padding-top: 40px;
    color: rgb(16, 185, 185);
}